
/* shop.component.scss */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.shop-container {
  display: flex;
  width: 70%;
  gap: 30px;
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    }
}

.shop-side-bar {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
  @media (max-width: 768px) {
    margin-right: 0px;
    }

  h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }

  select,
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #7e3fc7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #976ae0;
    }
  }
}




































/* diseño productos */
#producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tarjeta-producto {
  background-color: #e6e6e6;
  width: 250px;
  height: 390px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  text-align: center;

  .info-producto {
    background-color: white;
    border-radius: 7px;
    position: relative;
    width: 100%;
    height: 100%;
    transition: height 0.5s ease-out;

    .espacio-emergente {
      box-shadow: 0px -20px 20px -18px rgba(0, 0, 0, 0.7);
      z-index: 7;
      background-color: #e6e6e6;
      position: absolute;
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      border-radius: 7px;
      transition: height 0.2s ease-out;
    }

    &:hover {
      .overlay {
        opacity: 0.3;
      }

      .espacio-emergente {
        height: 35%;
      }

      .card-btn {
        opacity: 1;
      }
    }
  }

  .overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.6s ease;
    border-radius: 7px;

  }

  img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  p {
    margin: 5px 0;
    font-size: 14px;
  }

  .card-btn {
    left: 50%;
    top: 82.5%;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    border: none;
    outline: none;
    background: #976ae0;
    color: #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    z-index: 8;
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  .nombre-producto {
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
  }

  .precio-producto {
    position: absolute;
    left: 49%;
    top: 88%;
    transform: translate(-50%, -50%);
  }

  .marca-producto {
    position: absolute;
    left: 50%;
    top: 79%;
    opacity: .5;
    font-weight: bold;
    font-size: 25px;
    transform: translate(-50%, -50%);
  }
}
