
<div class="container">

  <div class="shop-container">

    <div class="shop-side-bar">
      <!-- Aquí irán los filtros y controles correspondientes -->
      <h2>Filtros</h2>
      <label for="marcaFilter">Marca:</label>
      <select id="marcaFilter" >
        <option value="">Todas las marcas</option>
        <option ></option> 
      </select>

      <label for="precioMinFilter">Precio Mínimo:</label>
      <input type="number" id="precioMinFilter" >

      <label for="precioMaxFilter">Precio Máximo:</label>
      <input type="number" id="precioMaxFilter" >

      <label for="marcaFilter">Categoria:</label>
      <select id="marcaFilter" >
        <option value="">Todas las Categorias</option>
        <option ></option> 
      </select>

      <button >Aplicar Filtros</button>
    </div>

    <div id="producto">
      <div class="tarjeta-producto" *ngFor="let product of products">
        
        <div class="info-producto">
          <img  [alt]="product.nombre" class="imagen-produto"/>
          <h3 class="nombre-producto">{{ product.nombre }}</h3>
          <p class="marca-producto">{{ product.marca }}</p>
          <h2 class="precio-producto">{{ product.precio}}</h2>
          <div class="overlay"></div>
          <button class="card-btn">Añadir al carrito</button>
          <div class="espacio-emergente"></div>
        </div>

      </div>
    </div>

</div>


</div>